.grid {
  display: grid;
  grid-template-columns: 180px 1fr;
}
.article {
  padding-left: 30px;
  padding-right: 15px;
}
body {
  margin: 0;
}
ol {
  border-right: 1px solid gray;
  width: 150px;
  margin: 0;
  padding-top: 20px;
}
h1 {
  font-size:50px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 30px;
}
a {
  text-decoration: none;
  color: black
}
@media(max-width:800px) {
  .grid {
    display: block;
  }
  ol {
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }
}
